@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Tiro+Devanagari+Marathi&display=swap');
#g{
    position:absolute;
    top: 0;
    left:0;
}
.anim_1{
    animation: anim_1 4s infinite alternate;
}
@keyframes anim_1{
        0%{
        }
        100%{
            transform:rotateY(4turn);
        }
    }
.flex{
    display:flex;
    justify-content:space-around;
}
.up-help{
    display: inline-block;
    padding: 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    color: black;
}
.flex-two{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.displayed{
display: block;
margin-left: auto;
margin-right: auto;
animation: anim_2 4s infinite alternate;
}
@keyframes anim_2{
    0%{
        transform:scale(0);
    }
    100%{
        transform:scale(1);
    }
}
.height{
    height: 80px;
}
.up{
    position: absolute;
    bottom: 100px;
    right: 100px;
    position: fixed;
    display: inline-block;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    color: black;
}
.footer{
    font-size: 30px;
}
.pre{
    text-align: center;  
    color: rgb(255, 255, 255); 
    font-size: 30px;
}
.background{
    background-image:url(images/footer1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.data{
    text-align: left;
    color: rgb(0, 0, 0); 
    font-size: 35px;  
    font-weight: 900;
    margin: 0;
}
body{
    margin:0;
}
h1{
    font-family: 'Kaisei Opti', serif;
    font-weight: 900;
    font-size: 85px;
    color: rgb(0, 0, 0);
}
h2{
    font-family: 'Kaisei Opti', serif;
    font-weight: 900;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin:0;
}
p{
    font-family: 'Tiro Devanagari Marathi', serif;
    font-weight: 900;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
}
header{
    background-image:url(images/шапка.png);
    width: 100%;
    height: 500px;
    background-size:cover;
    background-repeat:no-repeat;
}
main{
    background-image:url(images/паттерн.png);
    width: 100%;
    background-repeat: repeat;
    
}
a{
    font-family: 'Tiro Devanagari Marathi', serif;
    font-weight: 900;
    font-size: 75px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover{
    color: #6197FA;
}
h2:hover{
    color: #6197FA;
}
p:hover{
    color: #6197FA;
}
footer{
    background-color: black;
    color:rgb(255, 255, 255);
    width :100%;
}
