@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Tiro+Devanagari+Marathi&display=swap');

body{
    margin:0;
}

header{
    background-image:url(../images/шапка.png);
    background-size:cover;
    background-repeat:no-repeat;
    
    
}

.flex{
    display:flex;
    justify-content:space-between;
}

.anim_1{
    animation: anim_1 4s infinite alternate;
    width: 13%;
    height: 13%;
} 

@keyframes anim_1{
        0%{ 
        }
        100%{
            transform:rotateY(4turn);
        }
}

h1{
    font-family: 'Kaisei Opti', serif;
    font-weight: 700;
    font-size: 60px;
    color: rgb(0, 0, 0);
}

.flex-two{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.nav-list a{
    font-family: 'Tiro Devanagari Marathi', serif;
    font-weight: 700;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 20px;
}

.up-help{
    display: inline-block;
    padding: 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    color: black;
}

#g{
    position:absolute;
    top: 0;
    left:0;
    font-weight: 900;
}

.up-help a{
        font-family: 'Tiro Devanagari Marathi', serif;
        font-weight: 900;
        font-size: 75px;
        color: rgb(0, 0, 0);
        text-decoration: none;
}

@keyframes anim_2{
    0%{
        transform:scale(0);
    }
    100%{
        transform:scale(1);
    }
}

.up{
    position: absolute;
    bottom: 100px;
    right: 100px;
    position: fixed;
    display: inline-block;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    color: black;
}

main{
    background-image:url(../images/паттерн.png);
    width: 100%;
    background-repeat: repeat;
    
}

.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: anim_2 4s infinite alternate;
}

.pre{
    text-align: center;  
    color: rgb(255, 255, 255); 
    font-size: 30px;
}

.background{
    background-image:url(../images/footer1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.data{
    text-align: center;
    color: rgb(0, 0, 0); 
    font-size: 35px;  
    font-weight: 900;
    margin: 0;
}

h2{
    font-family: 'Kaisei Opti', serif;
    font-weight: 900;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin:0;
}

p{
    font-family: 'Tiro Devanagari Marathi', serif;
    font-weight: 900;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
}

footer{
    background-color: black;
    color:rgb(255, 255, 255);
    width :100%;
    font-size: 30px;
}

/* планшеты горизонтально */
@media (min-width: 992px) and (max-width: 1199px) {
    header {
        height: 4%;
    }
    .data{
        font-size:26px;
    }
    .displayed{
        width:70%;
    }
    .up{
        bottom: 110px;
        right: 40px;
        z-index: 1;
    }
    .pre{
        font-size: 27px;
    }

}

/* телефоны вертикально */
@media (max-width: 480px) {
    .up{
        bottom: 20px;
        right: 280px;
        z-index: 1;
        font-size: 30px;
    }
    header {
        height: 4%;
    }
    .data{
        font-size:22px;
        margin:30px 0px 0px 0px;
    }
    .displayed{
        width:80%;
    }
    .h1{
        font-size:32px;
    }
    .a{
        font-size:35px;
    }
}  

/* телефоны горизонтально */
@media (max-width: 800px) {
    header {
        height: 4%;
        width: 100%;
    }
    .a{
        font-size: 70px;
    }
    .displayed{
        width:70%;
    }
    .up{
        bottom: 13px;
        right: 178px;
        z-index: 1;
        font-size: 30px;
    }
    .flex-two{
        display:flex;
        justify-content: space-evenly;
    }
}
/* телефоны горизонтально */
@media (min-width: 320px) and (max-width: 900px){
    .burger-menu{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        transition: 0.3s ease;
    }
    .burger-menu::before,
    .burger-menu::after {
        content: ''; /* пустой контент */
        background: rgb(60, 114, 231); /*цвет бургера*/
        position: absolute; /* позиция для общего блока*/
        width: 100%; /* ширина*/
        height: 2px; /* толщина полосок бургера */
    }

    .burger-menu::before {
        top: 20px; /* расположение верхней линии бургера */
    }

    .burger-menu span { /*средняя линия в виде span*/
        background: #fff;
        position: absolute; 
        width: 100%;
        top: 30px;
        height: 2px; 
    }
    .burger-menu::after {
        bottom: -20px; /* расположение нижней линии бургера */
    }

    /* меню */
    .main-nav{
        position: absolute;
        top: 0;
        right: 0;
        width: 30vw;
        height: 100vh;
        background: #272727;
        border: 1px solid #fff;
        padding: 20px 10px;
        transform: translateX(100%);
    }
    
    .nav-list{
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    .nav-list a{
        color: white;
    }

    /* active */
    .burger-menu.active {
        z-index: 3;
        transform: translateX(-10vw);
        transition: 0.3s ease;
    }

    .burger-menu.active::before {
        transform: rotate(45deg);
        top: 9px;
        transition: 0.3s ease;
    }
    .burger-menu.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
        transition: 0.3s ease;
    }

    .burger-menu.active span {
        transform: scale(0);
    }

    .main-nav.active {
    transform: translate(0);
    transition: 0.3s ease;
    }
}
